@font-face {
    font-family: 'Mayan';
    src: url('Mayan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'candara';
    src: url('candara.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}