{
    "swagger": "2.0",
    "info": {
        "title": "Builder HAXE",
        "description": "Builder de Flavien, Dorian, Steven, Roman",
        "version": "0.0.25"
    },
    "host": "fbgame.isartdigital.com/2017_builder/builder2",
    "schemes": [
        "https"
    ],
    "basePath": "/api/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/userInfos": {
            "get": {
                "summary": "Récupère toutes les infos necessaire d'un utilisateur à la connexion du jeu",
                "description": "Si le champ friend_user_id est vide, cela récupère les infos du joueur\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "friend_user_id",
                        "in": "query",
                        "description": "User id de l'ami pour récuperer sa map (Optionnel)",
                        "type": "integer"
                    }
                ],
                "tags": [
                    "All"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/UserInfos"
                        }
                    }
                }
            }
        },
        "/users/login": {
            "get": {
                "summary": "Ce connecte à un compte et récupère son token",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Nom de compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Mot de passe du compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Logins"
                        }
                    }
                }
            }
        },
        "/users/create": {
            "post": {
                "summary": "Créer un utilisateur standard",
                "description": "Créer un utilisateur standard puis renvoi le token de l'utilisateur (requis pour faire d'autres opérations)\n",
                "parameters": [
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Nom de compte de l'utilisateur",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email de l'utilisateur",
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Mot de passe de l'utilisateur",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password_conf",
                        "in": "query",
                        "description": "Confirmation du mot de passe de l'utilisateur",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Logins"
                        }
                    }
                }
            }
        },
        "/users/createFB": {
            "post": {
                "summary": "Créer un compte de type FB",
                "description": "Si le token correspond déjà à un compte FB dans la base de donné, cela ne fait rien.\n",
                "parameters": [
                    {
                        "name": "mail",
                        "in": "query",
                        "description": "Mail du compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Id de l'utilisateur facebook (qui servira comme token)",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "username",
                        "in": "query",
                        "description": "Le prenom + nom de l'utilisateur",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/BasicResponse"
                        }
                    }
                }
            }
        },
        "/users/dailyreward": {
            "get": {
                "summary": "Renvoi la date de la dernière utilisation du daily-reward",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Dailyrewards"
                        }
                    }
                }
            }
        },
        "/users/dailyreward/update": {
            "post": {
                "summary": "Récupère les cadeaux du dailyreward & update la date",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/DailyrewardsUpdate"
                        }
                    }
                }
            }
        },
        "/users/parade": {
            "get": {
                "summary": "Renvoie la date de dernière parade",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Parades"
                        }
                    }
                }
            }
        },
        "/users/parade/update": {
            "post": {
                "summary": "Envoi au serveur le nombre de bonus que le joueur a récupéré et update sa currency",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "bonusHarvested",
                        "in": "query",
                        "description": "Nombre de bonus récolté",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "hardPurchase",
                        "in": "query",
                        "description": "Indique si payer en hard",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/users/ftue": {
            "get": {
                "summary": "Informe si la FTUE est terminé ou non",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/FTUEs"
                        }
                    }
                }
            }
        },
        "/users/ftue/complet": {
            "post": {
                "summary": "Informe que la FTUE est terminé",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/BasicResponse"
                        }
                    }
                }
            }
        },
        "/users/experience": {
            "get": {
                "summary": "Récupère le montant d'experience de l\\'utiliseur",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Experiences"
                        }
                    }
                }
            }
        },
        "/users/buy": {
            "post": {
                "summary": "Fait une demande d'achat dans le shop",
                "description": "Item disponible\n  - gold_bad\n  - gold_chest\n  - gold_mountain\n  - spice_refill\n  - spice\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Nom de l'item a acheté",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/users/destroy": {
            "delete": {
                "summary": "Supprime un compte",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte que l'on veut supprimer",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/BasicResponse"
                        }
                    }
                }
            }
        },
        "/gifts": {
            "get": {
                "summary": "Récupère la liste de cadeaux que le joueur a recu",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Gifts"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Gifts"
                        }
                    }
                }
            }
        },
        "/gifts/create": {
            "post": {
                "summary": "Envoi un cadeau à un ami",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "friend_user_id",
                        "in": "query",
                        "description": "Id de l'ami à qui envoyer le cadeau",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Gifts"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/DailyrewardsUpdate"
                        }
                    }
                }
            }
        },
        "/gifts/collect": {
            "post": {
                "summary": "Collecte un cadeau du joueur",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Nom du cadeau",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "author_name",
                        "in": "query",
                        "description": "Pseudo du joueur qui a offert le cadeau",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Gifts"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/resources": {
            "get": {
                "summary": "Récupère les ressources du joueur",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Resources"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/resources/gold": {
            "get": {
                "summary": "Récupère la quantité d'or du joueur",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Resources"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    }
                }
            }
        },
        "/resources/offering": {
            "get": {
                "summary": "Récupère la quantité d'offrandes du joueur",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Resources"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    }
                }
            }
        },
        "/resources/spice": {
            "get": {
                "summary": "Récupère la quantité de piment du joueur",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Resources"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    }
                }
            }
        },
        "/buildings": {
            "get": {
                "summary": "Récupère la liste des buildings d'un joueur",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "type_filter",
                        "in": "query",
                        "description": "(optionel) Filtre par type de batiment",
                        "type": "string"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Buildings"
                        }
                    }
                }
            }
        },
        "/buildings/{name}/create": {
            "post": {
                "summary": "Créer un batiment générique",
                "description": "Type de batiments disponible\n    - bar\n    - altar\n    - casino\n    - brothel\n    - pyrotechnician\n    - house\n    - mainSquare\n    - park\n    - statue\n    - bigFlowerPot\n    - floatingFlower\n    - harbor\n    - cityHall\n    - lanterns\n    - church\n    - market\n    - cantina\n    - tapasStand\n    - memory\n    - hostel\n",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "nom du batiment",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "description": "Position en x du batiment à poser",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "description": "Position en y du batiment à poser",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "description": "Achat en HardCurrency",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/buildings/upgrade": {
            "post": {
                "summary": "Fait une demande d'upgrade de batiment\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "description": "Position en x du batiment à upgrade",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "description": "Position en y du batiment à upgrade",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/buildings/hardBuild": {
            "post": {
                "summary": "Force la fin de construction d'un batiment grâce à la hard currency\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "description": "Position en x du batiment à upgrade",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "description": "Position en y du batiment à upgrade",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/buildings/changeColor": {
            "post": {
                "summary": "Change la couleur d'un batiment\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "description": "Position en x du batiment à upgrade",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "description": "Position en y du batiment à upgrade",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "color",
                        "in": "query",
                        "description": "Nouvelles couleur du batiment",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/BasicResponse"
                        }
                    }
                }
            }
        },
        "/buildings/move": {
            "post": {
                "summary": "Deplace un batiment\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x_start",
                        "in": "query",
                        "description": "Position en x du batiment à déplacer",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y_start",
                        "in": "query",
                        "description": "Position en y du batiment à déplacer",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "x_end",
                        "in": "query",
                        "description": "Position de destination en x du batiment",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y_end",
                        "in": "query",
                        "description": "Position de destination en y du batiment",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/BasicResponse"
                        }
                    }
                }
            }
        },
        "/buildings/collect": {
            "post": {
                "summary": "Collecte un batiment\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "description": "Position en x du batiment à détuire",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "description": "Position en y du batiment à détuire",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        },
        "/buildings/destroy": {
            "delete": {
                "summary": "Détruit un batiment\n",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "description": "Position en x du batiment à détuire",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "description": "Position en y du batiment à détuire",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "tags": [
                    "Buildings"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/BasicResponse"
                        }
                    }
                }
            }
        },
        "/lanterns": {
            "get": {
                "summary": "Récupère la liste des lanternes activé",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Lanterns"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Lanterns"
                        }
                    }
                }
            }
        },
        "/lanterns/create": {
            "post": {
                "summary": "Créer une lanterne",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Token associé au compte",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "x",
                        "in": "query",
                        "description": "Position en x de la lanterne à activer",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "y",
                        "in": "query",
                        "description": "Position en y de la lanterne à activer",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "description": "Indique si la lantern est créer avec de la hard",
                        "required": true,
                        "type": "boolean"
                    }
                ],
                "tags": [
                    "Lanterns"
                ],
                "responses": {
                    "200": {
                        "description": "Resultat de la requête",
                        "schema": {
                            "$ref": "#/definitions/Resources"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "BasicResponse": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string",
                    "description": "Résultat de la requête"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "UserInfos": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "buildings": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Building"
                            }
                        },
                        "lanterns": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Lantern"
                            }
                        },
                        "resources": {
                            "type": "object",
                            "properties": {
                                "gold": {
                                    "type": "integer"
                                },
                                "offering": {
                                    "type": "integer"
                                },
                                "spice": {
                                    "type": "integer"
                                }
                            }
                        },
                        "gifts": {
                            "$ref": "#/definitions/Gift"
                        },
                        "username": {
                            "type": "string",
                            "description": "Nom de l'utilisateur"
                        },
                        "parades": {
                            "$ref": "#/definitions/Parade"
                        },
                        "dailyreward": {
                            "$ref": "#/definitions/Dailyreward"
                        },
                        "experience": {
                            "$ref": "#/definitions/Experience"
                        },
                        "ftue_complet": {
                            "$ref": "#/definitions/FTUE"
                        }
                    }
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Logins": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "string",
                    "description": "Token de l'utilisateur"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Dailyreward": {
            "type": "string",
            "description": "Date du dernier dailyreward"
        },
        "Dailyrewards": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/Dailyreward"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "DailyrewardsUpdate": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "description": "Renvoi un objet contenant les cadeaux (à définir)"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Parade": {
            "type": "string",
            "description": "Date de la dernière parade"
        },
        "Parades": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/Parade"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Experience": {
            "type": "integer",
            "description": "Montant de l'experience de l\\'utilisateur"
        },
        "Experiences": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/Experience"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "FTUE": {
            "type": "boolean",
            "description": "Informe si la FTUE a été complété ou non"
        },
        "FTUEs": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/FTUE"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Gift": {
            "type": "array",
            "items": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Nom du cadeau"
                    },
                    "friend_users_id": {
                        "type": "integer",
                        "description": "Id de l'utilisateur qui a envoyé le cadeau"
                    }
                }
            }
        },
        "Gifts": {
            "type": "object",
            "properties": {
                "data": {
                    "$ref": "#/definitions/Gift"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Resource": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "integer",
                    "description": "Montant de la ressource"
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Resources": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object",
                    "properties": {
                        "gold": {
                            "type": "integer"
                        },
                        "offering": {
                            "type": "integer"
                        },
                        "spice": {
                            "type": "integer"
                        }
                    }
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Building": {
            "type": "object",
            "properties": {
                "buildingName": {
                    "type": "string",
                    "description": "nom du building"
                },
                "x": {
                    "type": "integer",
                    "description": "Position en x du building"
                },
                "y": {
                    "type": "integer",
                    "description": "Position en y du building"
                },
                "construct_end_at": {
                    "type": "integer",
                    "description": "Timestamp de fin de construction"
                },
                "color": {
                    "type": "string",
                    "description": "Nom de la couleur du building"
                },
                "otherParam": {
                    "type": "string",
                    "description": "les paramètres specifiques au batiment"
                }
            }
        },
        "Buildings": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Building"
                    }
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        },
        "Lantern": {
            "type": "object",
            "properties": {
                "x": {
                    "type": "integer",
                    "description": "Position en x de la lantern"
                },
                "y": {
                    "type": "integer",
                    "description": "Position en y de la lantern"
                }
            }
        },
        "Lanterns": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Lantern"
                    }
                },
                "error": {
                    "type": "boolean",
                    "description": "Renvoi true si erreur"
                },
                "errorMessage": {
                    "type": "string",
                    "description": "Details de l'erreur"
                }
            }
        }
    }
}